<?xml version="1.0" encoding="UTF-8"?>
<!-- 
<configuration>
<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
  <encoder>
      <pattern>%date [%thread] %-5level %logger{35} - %message%n</pattern>
  </encoder>
</appender>
<root level="INFO">
  <appender-ref ref="STDOUT"/>
</root>
</configuration>
-->
<configuration scan="true" scanPeriod="10 seconds">
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${catalina.base}/logs/logbacktest.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/logtest.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%date [%thread] %-5level %logger{35} - %message%n</pattern>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="FILE"/>
  </root>
</configuration>
